# Core dependencies
numpy>=1.26.4
pandas>=3.0.0
matplotlib
ipython

# Financial libraries
finnhub-python
yfinance
mplfinance
backtrader

# Data handling
pyPDF2
reportlab

# packaging
setuptools>=41.4.0
wheel>=0.33.6

# Historical data
praw
tushare
pandas_datareader

# Other
pdfkit==1.0.0
aiohttp>=3.8.5
nltk>=3.8.1
ratelimit>=2.2.1
Requests>=2.31.0
scikit_learn>=1.5.0
tenacity>=8.3.0
tqdm>=4.66.1
typing_extensions>=4.9.0

